<%- include('partials/header') %>
    <div>
        <h3>Here are the possible options you can do: </h3>
        <ul>
            <li><a href="/post/addpost">Add Post</a></li>
            <li><a href="/post/editpost">Edit Post</a></li>
            <li><a href="/post/allpost">All Post</a></li>
        </ul>
    </div>
<%- include('partials/footer') %>